html, body { 
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    color: black;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #000020;
        color: whitesmoke;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100svh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    flex-grow: 100;
}
h1, footer, p {
    text-align: center;
}