@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@500&family=Open+Sans:wght@400;500&display=swap');

html, body { 
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: lightskyblue;
    color: black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100svh;
    width: 800px;
    max-width: 97vw;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    flex-grow: 100;
}

h1 {
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}
h2 {
    font-weight: 500;
    font-family: Open Sans, sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: goldenrod;
    color: black;
    box-shadow: none;
    border: none;
    border-radius: .25em;
    padding: .5em;
    margin-bottom: .25em;
    font-family: 'Open Sans', sans-serif;
}
button:active {
    border-style: inset;
    border-width: .1em;
    padding: .4em;
}

textarea {
    height: 150px;
    background-color: inherit;
    color: inherit;
    border-style: solid;
    border-color: black;
    border-radius: .25em;
    font-family: Inconsolata, monospace;
    text-align: inherit;
}
textarea:focus{
    border-color: goldenrod;
    outline: none;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #000020;
        color: whitesmoke;
    }
    textarea {
        border-color: whitesmoke;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    footer {
        margin-bottom: 1em;
    }
    textarea {
        border-color: black;
    }
}