html, body { 
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    color: black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100svh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    flex-grow: 100;
}

button {
    background-color: goldenrod;
    color: black;
    box-shadow: none;
    border: none;
    border-radius: .25em;
    padding: .5em;
}
button:active {
    border-style: inset;
    border-width: .1em;
    padding: .4em;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #000020;
        color: whitesmoke;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    footer {
        margin-bottom: 1em;
    }
}